.titlecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.titlecontainer h1 {
    color: #E33D33;
    text-align: center;
    font-size: 3em;
    margin-right: 0.4em;
}

.titlecontainer span {
    color: #333;
}

.pokemoncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 5em;
}